<template>
  <div>
    <div class="row" v-if="selectedType.fields">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <b-form @submit="onSubmit">
          <component v-bind:key="field.name" v-for="(field, index) in selectedType.fields" :is="currentFormFields[index]" v-bind:currentField="field"></component>
          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
      </div>
    </div>
  </div>
</template>

<script>
// eslint-disable-next-line
import IntegerFormField from './form_fields/IntegerFormField'
// eslint-disable-next-line
import StringFormField from './form_fields/StringFormField'
// eslint-disable-next-line
import BooleanFormField from './form_fields/BooleanFormField'
// eslint-disable-next-line
import DecimalFormField from './form_fields/DecimalFormField'
// eslint-disable-next-line
import DatetimeFormField from './form_fields/DatetimeFormField'
// eslint-disable-next-line
import EnumFormField from './form_fields/EnumFormField'

export default {
  name: 'RiskForm',
  computed: {
    currentFormFields () {
      return this.selectedType.fields.map(f => f.data_type.charAt(0).toUpperCase() + f.data_type.slice(1) + 'FormField')
    }
  },
  methods: {
    onSubmit: function () {}
  },
  props: ['selectedType', 'errorMsg'],
  components: {
    StringFormField,
    IntegerFormField,
    BooleanFormField,
    DecimalFormField,
    DatetimeFormField,
    EnumFormField
  }
}
</script>

<style scoped>

</style>
