<template>
  <div class="col-md-12">
    <b-jumbotron header="ACME Insurance" lead="Example project." >
      <p>Please select insurance type.</p>
      <div class="row" v-if="risk_types && risk_types.length">
        <div class="col-md-4">
        <b-dropdown id="ddown1" text="Select insurance" class="col-md-8">
          <b-dropdown-item v-for="risk_type in risk_types" title="" :key="risk_type.name">
            <a href="#" v-on:click="getRiskType(risk_type.name)">{{risk_type.name}}</a>
          </b-dropdown-item>
        </b-dropdown>
        </div>
        <div class="col-md-8" v-if="selectedType">
          <h2><b-badge variant="primary">{{selectedType.name}}</b-badge></h2>
          <p class="small">{{selectedType.description}}</p>
        </div>
      </div>
      <div class="row"  v-else-if="errorMsg===''">
        <p>
          Getting data...
        </p>
        <p v-if="errorMsg">
          {{errorMsg}}
        </p>
      </div>

    </b-jumbotron>

    <RiskForm v-bind:selectedType=selectedType></RiskForm>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import RiskForm from './RiskForm'

Vue.use(VueAxios, axios)

const apiUrl = 'https://nkt2f4hbs4.execute-api.eu-west-2.amazonaws.com/dev/api/risk_types/ACME'

export default {
  data () {
    return {
      risk_types: [],
      selectedType: {},
      errorMsg: ''
    }
  },
  methods: {
    getRiskType: function (name) {
      var url = apiUrl + '/' + name
      this.selectedType = null
      Vue.axios.get(url).then(response => {
        this.selectedType = response.data
      }).catch(error => {
        this.errorMsg = error.message
        this.selectedType = null
      })
    }
  },
  created () {
    Vue.axios.get(apiUrl).then(response => {
      this.risk_types = response.data
    }).catch(error => {
      this.errorMsg = error.message
      this.data = []
    })
  },
  components: {
    RiskForm
  }
}
</script>
<style scoped>

</style>
