<template>
  <div id="app" class="container">
    <RiskTypes/>
  </div>
</template>

<script>
import RiskTypes from './components/RiskTypes'

export default {
  name: 'App',
  components: {
    RiskTypes
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
