<template>
  <div v-if="currentField">
    <b-form-group>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input"
                 v-bind:id="currentField.name.replace(/ /g, '_')"
                 v-bind:name="currentField.name"
                 v-model="modelValue"
                 v-bind:true-value="1"
                 v-bind:false-value="0">
          <span class="h5">{{currentField.name}}</span>
        </label>
      </div>
      <b-form-text>
        {{currentField.description}}
      </b-form-text>
    </b-form-group>
  </div>
</template>

<script>
export default {
  name: 'BooleanFormField',
  props: ['currentField'],
  data () {
    return {
      modelValue: '1'
    }
  }
}
</script>

<style scoped>

</style>
