<template>
  <div v-if="currentField">
    <b-form-group  v-bind:label="currentField.name">
      <date-picker v-bind:id="currentField.name.replace(/ /g, '_')"
                   v-bind:name="currentField.name"
                   v-model="date" :config="config"
                   v-bind:required="currentField.is_required">
      </date-picker>
      <b-form-text>
        {{currentField.description}}
     </b-form-text>
   </b-form-group>
  </div>
</template>

<script>
import datePicker from 'vue-bootstrap-datetimepicker'

export default {
  name: 'DatetimeFormField',
  props: ['currentField'],
  data () {
    return {
      date: new Date(),
      config: {
        format: 'DD/MM/YYYY',
        useCurrent: false
      }
    }
  },
  components: {
    datePicker
  }
}
</script>

<style scoped>

</style>
