<template>
  <div>
    <b-form-group v-bind:label="currentField.name">
      <b-form-input v-bind:id="currentField.name.replace(/ /g, '_')"
                    v-bind:name="currentField.name"
                    v-bind:required="currentField.is_required"
                    v-model="modelValue"
                    type="number"
                    placeholder=""
                    min="0"
                    step="0.01"
                    value="0.00">
      </b-form-input>
      <b-form-text>
        {{currentField.description}}
      </b-form-text>
    </b-form-group>
  </div>
</template>

<script>
module.exports = {
  name: 'DecimalFormField',
  props: ['currentField'],
  data () {
    return {
      modelValue: ''
    }
  }
}
</script>

<style scoped>

</style>
