<template>
  <div v-if="currentField">
    <b-form-group v-bind:label="currentField.name">
      <b-form-select v-bind:id="currentField.name.replace(/ /g, '_')"
                     v-bind:name="currentField.name"
                     v-bind:required="currentField.is_required"
                     v-model="modelValue" :options="options" >
      </b-form-select>
      <b-form-text>
        {{currentField.description}}
      </b-form-text>
    </b-form-group>
  </div>
</template>

<script>
export default {
  name: 'EnumFormField',
  props: ['currentField'],
  data () {
    return {
      modelValue: ''
    }
  },
  computed: {
    options () {
      var options = this.currentField.data
      options.splice(0, 0, null)
      return options
    }
  }
}
</script>

<style scoped>

</style>
