<template>
  <div v-if="currentField">
    <b-form-group v-bind:label="currentField.name">
      <b-form-input v-bind:id="currentField.name.replace(/ /g, '_')"
                    v-bind:name="currentField.name"
                    v-bind:required="currentField.is_required"
                    v-model="modelValue"
                    type="text">
      </b-form-input>
      <b-form-text>
        {{currentField.description}}
      </b-form-text>
    </b-form-group>
  </div>
</template>

<script>
module.exports = {
  name: 'StringFormField',
  props: ['currentField'],
  data () {
    return {
      modelValue: ''
    }
  }
}
</script>

<style scoped>

</style>
